<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= link_to "ひとりめし", root_path %>
  <div id="nav">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
  </div>
    <%= yield %>
  <%= link_to "マップ検索", posts_path %>
  <p>ユーザー投稿検索</p>
  <%= link_to "投稿", new_post_path %>
  <p>お気に入り</p>
  </body>
</html>
